@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,700&family=Roboto:wght@300;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color:#010410;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span {
    color: white;

}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container {
    margin-left: 10%;
}
nav .nav-logo-container img {
    width: 250px;
    margin-top: 5px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;

}

nav .profile-link a {
    font-size: 15px;
    color: black;
    border-bottom: 1.5px solid black;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
}


.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/img/cover-luna.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}


.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}

.home-main-text {
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: black;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.home-main-button {
    width: 120px;
    height: 50px;
    background: black;
    display: grid;
    align-content: center;
}
.home-main-button a{
    font-size: 18px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color:#dadada;
    padding: 0px 50px 40px;
}

.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    width: 85%;
}

.blogs-new-info-container{
    grid-column: 2;
}

.blogs-new-info-container p{
    margin-bottom: 35px;
}

.blogs-posts-container {
    padding: 20px 80px 60px;
}

.blogs-posts-container h3 {
    border-bottom: 1px solid #002844;
    padding-bottom: 20px;
    text-align: center;
}

.blogs-button{
    border: 1.5px solid #002844;
    padding: 10px 15px;
    font-size: 12px;
}

.blogs-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-posts-container .post-container p{
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
    width: 100%;
}

footer {
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
}

footer p {
    color: white;
    padding-top: 30px;
}

.blogpost-img-container {
    padding: 20px 200px 40px;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid #002844;
    padding-bottom: 20px;
}
.blogpost-main-container article h1 {
    font-size: 30px;
}
.blogpost-main-container article p {
    text-align: justify;
}

.contact-main-container {
    width: 100%;
    min-height: 250px;
    background-color: #dadada ;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 20px;
}
.contact-main-container .contact-left {
    text-align: initial;
    margin-top: 85px;
}

.contact-main-container img {
    width: 100px;
    padding: 20px 20px 0;
}

.profile-main-container {
    padding: 70px 40px;
    background-color: #dadada;
    margin-bottom: 50px;
}
.profile-main-container img {
    width: 320px;
    margin-right: 30px;

}
.profile-main-container .profile-container {
    display: flex;
}

.profile-main-proyects {
    padding: 0 50px 40px;
}

.profile-main-proyects h3 {
    border-bottom: 1px solid black;
    padding-bottom: 35px;
    text-align: center;
}

.proyects-main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.proyect-container {
    padding: 0 5px;
}



.profile-education-container {
    background-color:white;
    padding: 0px 50px 40px;
}

.profile-main-education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.profile-education-info-container {
    grid-column: 1;
}

.profile-education-img-container {
    grid-column: 2;
    padding-left: 20%;
}

.profile-education-img-container img {
    width: 85%;
}


.profile-container-info p{
    margin-bottom: 35px;
}